body {
  background-color: rgb(173, 173, 201);
}
main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.main-header {
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 194, 216);
  text-align: center;
  display: flex;
  width: 100vw;
  height: 84px;
  border-radius: 15px;
  box-shadow: 2px 4px 8px 2px rgb(116, 116, 237);
}
.logo-bookstore {
  width: auto;
  height: 148px;
}
h2 {
  color: rgb(21, 51, 93);
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px 8px 2px rgb(114, 114, 132);
  width: 50vw;
  border-radius: 12%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  box-shadow: 2px 4px 8px 2px rgb(114, 114, 132);
}
.book-article {
  margin-top: 24px;
  border-radius: 15px;

  margin: 24px;
  padding: 16px;
  width: 50vw;
}
.img-book {
  height: 200px;
  width: 200px;
}
.main-footer {
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 194, 216);
  text-align: center;
  display: flex;
  width: 100vw;
  height: 84px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgb(116, 116, 237);
  margin-bottom: 0;
  position: fixed;
}
